// Membuat background-color
@mixin bg-color($colors, $prefix: "") {
    @each $key, $value in $colors {
        .#{$prefix}bg-#{$key} {
            background-color: $value;
        }
    }
}

@mixin backgrounds($prefix: "") {
    .#{$prefix}bg-white {
        background-color: $white;
    }
    .#{$prefix}bg-black {
        background-color: $black;
    }
    .#{$prefix}bg-transparent {
        background-color: transparent;
    }

    // Melakukan perulangan untuk semua warna
    @each $key, $value in $colors {
        @include bg-color($value, $prefix);
    }
}

// Tanpa breakpoint
@include backgrounds();

// Dengan breakpoint
@each $key, $value in $breakpoints {
    $prefix: $key + "\\:";
    @include screen($key) {
        @include backgrounds($prefix);
    }
}
