@mixin float($prefix: "") {
    $float: (right, left, none) !default;

    @each $float in $float {
        .#{$prefix}float-#{$float} {
            float: #{$float};
        }
    }
}

// Tanpa breakpoint
@include float();

// Dengan breakpoint
@each $key, $value in $breakpoints {
    $prefix: $key + "\\:";
    @include screen($key) {
        @include float($prefix);
    }
}
