// Membuat text color
@mixin text-color($colors) {
    @each $key, $value in $colors {
        .#{$key} {
            color: $value;
        }
    }
}

.white {
    color: $white;
}
.black {
    color: $black;
}

// Melakukan perulangan untuk semua warna
@each $key, $value in $colors {
    @include text-color($value);
}

// Font Family
$font-family: (
    "serif": (
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        "Liberation Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"
    ),
    "mono": (
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace
    ),
    "poppins": (
        "Poppins",
        sans-serif
    ),
    "inter": (
        "Inter",
        sans-serif
    ),
    "nunito": (
        "Nunito",
        sans-serif
    ),
    "montserrat": (
        "montserrat",
        sans-serif
    ),
    "amiri": (
        "Amiri",
        sans-serif
    )
) !default;

@each $key, $value in $font-family {
    .font-#{$key} {
        font-family: $value;
    }
}

// Font Weight
$font-weight: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900,
    bold,
    bolder,
    lighter,
    inherit,
    initial
) !default;
@each $fw in $font-weight {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}

// Text decoration
$text-decoration: (
    "strike": line-through,
    "none": none,
    "overline": overline,
    "underline": underline,
    "over-under": overline underline
) !default;
@each $key, $value in $text-decoration {
    .decoration-#{$key} {
        text-decoration-line: $value;
    }
}

// Text Decoration Style
$text-decoration-style: (
    dashed,
    dotted,
    double,
    inherit,
    initial,
    solid,
    wavy
) !default;

@each $tds in $text-decoration-style {
    .decoration-style-#{$tds} {
        text-decoration-style: $tds;
    }
}

// Text Decoration Color
@mixin text-decoration-color($colors) {
    @each $key, $value in $colors {
        .decoration-#{$key} {
            text-decoration-color: $value;
        }
    }
}

@each $key, $value in $colors {
    @include text-decoration-color($value);
}
