@mixin grid($screen: false) {
    $prefix: "";
    @if $screen {
        $prefix: $screen + "\\:";
    }

    // Grid Template Columns
    .#{$prefix}grid-cols-none {
        grid-template-columns: none;
    }
    @for $i from 1 to 13 {
        .#{$prefix}grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }

    // Grid Template Rows
    .#{$prefix}grid-rows-none {
        grid-template-rows: none;
    }
    @for $i from 1 to 26 {
        .#{$prefix}grid-rows-#{$i} {
            grid-template-rows: repeat($i, minmax(0, 1fr));
        }
    }

    // Grid Auto Flow
    .#{$prefix}grid-flow-col {
        grid-auto-flow: column;
    }
    .#{$prefix}grid-flow-row {
        grid-auto-flow: row;
    }
}

// Gap
@mixin gap($sumbu: false, $unit: rem, $screen: false) {
    $prefix: "";
    @if $screen {
        $prefix: $screen + "\\:";
    }

    @if $sumbu == false {
        @for $i from 0 to 101 {
            $num: calc($i / 10);
            $class-num: str-replace("#{$num}", ".", "\\.");
            $slice: str-slice($class-num, 1, 4);

            .#{$prefix}gap-#{$slice} {
                gap: $num + $unit;
            }
        }
    } @else {
        @for $i from 0 to 101 {
            $num: calc($i / 10);
            $class-num: str-replace("#{$num}", ".", "\\.");
            $slice: str-slice($class-num, 1, 4);

            @if $sumbu == x {
                .#{$prefix}gap-x-#{$slice} {
                    column-gap: $num + $unit;
                }
            } @else if $sumbu == y {
                .#{$prefix}gap-y-#{$slice} {
                    row-gap: $num + $unit;
                }
            }
        }
    }
}

// Tanpa breakpoint
@include grid();
@include gap();
@include gap(x);
@include gap(y);

// Dengan breakpoint
@each $key, $value in $breakpoints {
    @include screen($key) {
        @include grid($key);
        @include gap($screen: $key);
        @include gap(x, $screen: $key);
        @include gap(y, $screen: $key);
    }
}
