@mixin margin($direction: false, $unit: rem, $minus: false, $sumbu: false) {
    @if $minus == false {
        @if $sumbu == false {
            @for $i from 0 to 101 {
                $num: calc($i / 10);
                $class-num: str-replace("#{$num}", ".", "\\.");
                $slice: str-slice($class-num, 1, 4);

                @if $direction == false {
                    .m-#{$slice} {
                        margin: $num + $unit;
                    }
                } @else if $direction == t {
                    .mt-#{$slice} {
                        margin-top: $num + $unit;
                    }
                } @else if $direction == b {
                    .mb-#{$slice} {
                        margin-bottom: $num + $unit;
                    }
                } @else if $direction == l {
                    .ml-#{$slice} {
                        margin-left: $num + $unit;
                    }
                } @else if $direction == r {
                    .mr-#{$slice} {
                        margin-right: $num + $unit;
                    }
                }
            }
        } @else {
            @for $i from 0 to 101 {
                $num: calc($i / 10);
                $class-num: str-replace("#{$num}", ".", "\\.");
                $slice: str-slice($class-num, 1, 4);

                @if $sumbu == x {
                    .mx-#{$slice} {
                        margin-left: $num + $unit !important;
                        margin-right: $num + $unit !important;
                    }
                } @else if $sumbu == y {
                    .my-#{$slice} {
                        margin-top: $num + $unit !important;
                        margin-bottom: $num + $unit !important;
                    }
                }
            }
        }
    } @else {
        @for $i from 0 to 101 {
            $num: calc($i / 10);
            $class-num: str-replace("#{$num}", ".", "\\.");
            $slice: str-slice($class-num, 1, 4);

            @if $num >= 0.1 {
                @if $direction == t {
                    .-mt-#{$slice} {
                        margin-top: -$num + $unit;
                    }
                } @else if $direction == b {
                    .-mb-#{$slice} {
                        margin-bottom: -$num + $unit;
                    }
                } @else if $direction == l {
                    .-ml-#{$slice} {
                        margin-left: -$num + $unit;
                    }
                } @else if $direction == r {
                    .-mr-#{$slice} {
                        margin-right: -$num + $unit;
                    }
                }
            }
        }
    }
}

// Positif
@include margin(); // hasilnya .m-0 sampai .m-10
@include margin(t); // hasilnya .mt-0 sampai .mt-10
@include margin(b); // hasilnya .mb-0 sampai .mb-10
@include margin(l); // hasilnya .ml-0 sampai .ml-10
@include margin(r); // hasilnya .mr-0 sampai .mr-10

// Negatif
@include margin($minus: true); // hasilnya .-m-0 sampai .-m-10
@include margin(t, $minus: true); // hasilnya .-mt-0 sampai .-mt-10
@include margin(b, $minus: true); // hasilnya .-mb-0 sampai .-mb-10
@include margin(l, $minus: true); // hasilnya .-ml-0 sampai .-ml-10
@include margin(r, $minus: true); // hasilnya .-mr-0 sampai .-mr-10

// Sumbu
@include margin($sumbu: x); // hasilnya .mx-0 sampai .mx-10
@include margin($sumbu: y); // hasilnya .my-0 sampai .my-10
