// Breakpoints
$breakpoints: (
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin screen($breakpoint) {
    @if $breakpoint == xs {
        @media (min-width: map-get($breakpoints, xs)) {
            @content;
        }
    } @else if $breakpoint == sm {
        @media (min-width: map-get($breakpoints, sm)) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (min-width: map-get($breakpoints, md)) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (min-width: map-get($breakpoints, lg)) {
            @content;
        }
    } @else if $breakpoint == xl {
        @media (min-width: map-get($breakpoints, xl)) {
            @content;
        }
    } @else if $breakpoint == xxl {
        @media (min-width: map-get($breakpoints, xxl)) {
            @content;
        }
    }
}
