@mixin padding($direction: false, $unit: rem, $sumbu: false) {
    @if $sumbu == false {
        @for $i from 0 to 101 {
            $num: calc($i / 10);
            $class-num: str-replace("#{$num}", ".", "\\.");
            $slice: str-slice($class-num, 1, 4);

            @if $direction == false {
                .p-#{$slice} {
                    padding: $num + $unit !important;
                }
            } @else if $direction == t {
                .pt-#{$slice} {
                    padding-top: $num + $unit !important;
                }
            } @else if $direction == b {
                .pb-#{$slice} {
                    padding-bottom: $num + $unit !important;
                }
            } @else if $direction == l {
                .pl-#{$slice} {
                    padding-left: $num + $unit !important;
                }
            } @else if $direction == r {
                .pr-#{$slice} {
                    padding-right: $num + $unit !important;
                }
            }
        }
    } @else {
        @for $i from 0 to 101 {
            $num: calc($i / 10);
            $class-num: str-replace("#{$num}", ".", "\\.");
            $slice: str-slice($class-num, 1, 4);

            @if $sumbu == x {
                .px-#{$slice} {
                    padding-left: $num + $unit !important;
                    padding-right: $num + $unit !important;
                }
            } @else if $sumbu == y {
                .py-#{$slice} {
                    padding-top: $num + $unit !important;
                    padding-bottom: $num + $unit !important;
                }
            }
        }
    }
}

// Positif
@include padding(); // hasilnya .p-0 sampai .p-10
@include padding(t); // hasilnya .pt-0 sampai .pt-10
@include padding(b); // hasilnya .pb-0 sampai .pb-10
@include padding(l); // hasilnya .pl-0 sampai .pl-10
@include padding(r); // hasilnya .pr-0 sampai .pr-10

// Sumbu
@include padding($sumbu: x); // hasilnya .px-0 sampai .px-10
@include padding($sumbu: y); // hasilnya .py-0 sampai .py-10
