// Membuat text color
@mixin text-color($colors) {
    @each $key, $value in $colors {
        .#{$key} {
            color: $value;
        }
    }
}

.white {
    color: $white;
}
.black {
    color: $black;
}

// melakukan perulangan untuk semua warna
@each $key, $value in $colors {
    @include text-color($value);
}
