// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Warna
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// Tingkat warna
$blue-100: mix(white, $blue, 80%) !default;
$blue-200: mix(white, $blue, 60%) !default;
$blue-300: mix(white, $blue, 40%) !default;
$blue-400: mix(white, $blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: mix(black, $blue, 20%) !default;
$blue-700: mix(black, $blue, 40%) !default;
$blue-800: mix(black, $blue, 60%) !default;
$blue-900: mix(black, $blue, 80%) !default;

$indigo-100: mix(white, $indigo, 80%) !default;
$indigo-200: mix(white, $indigo, 60%) !default;
$indigo-300: mix(white, $indigo, 40%) !default;
$indigo-400: mix(white, $indigo, 20%) !default;
$indigo-500: $indigo !default;
$indigo-600: mix(black, $indigo, 20%) !default;
$indigo-700: mix(black, $indigo, 40%) !default;
$indigo-800: mix(black, $indigo, 60%) !default;
$indigo-900: mix(black, $indigo, 80%) !default;

$purple-100: mix(white, $purple, 80%) !default;
$purple-200: mix(white, $purple, 60%) !default;
$purple-300: mix(white, $purple, 40%) !default;
$purple-400: mix(white, $purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: mix(black, $purple, 20%) !default;
$purple-700: mix(black, $purple, 40%) !default;
$purple-800: mix(black, $purple, 60%) !default;
$purple-900: mix(black, $purple, 80%) !default;

$pink-100: mix(white, $pink, 80%) !default;
$pink-200: mix(white, $pink, 60%) !default;
$pink-300: mix(white, $pink, 40%) !default;
$pink-400: mix(white, $pink, 20%) !default;
$pink-500: $pink !default;
$pink-600: mix(black, $pink, 20%) !default;
$pink-700: mix(black, $pink, 40%) !default;
$pink-800: mix(black, $pink, 60%) !default;
$pink-900: mix(black, $pink, 80%) !default;

$red-100: mix(white, $red, 80%) !default;
$red-200: mix(white, $red, 60%) !default;
$red-300: mix(white, $red, 40%) !default;
$red-400: mix(white, $red, 20%) !default;
$red-500: $red !default;
$red-600: mix(black, $red, 20%) !default;
$red-700: mix(black, $red, 40%) !default;
$red-800: mix(black, $red, 60%) !default;
$red-900: mix(black, $red, 80%) !default;

$orange-100: mix(white, $orange, 80%) !default;
$orange-200: mix(white, $orange, 60%) !default;
$orange-300: mix(white, $orange, 40%) !default;
$orange-400: mix(white, $orange, 20%) !default;
$orange-500: $orange !default;
$orange-600: mix(black, $orange, 20%) !default;
$orange-700: mix(black, $orange, 40%) !default;
$orange-800: mix(black, $orange, 60%) !default;
$orange-900: mix(black, $orange, 80%) !default;

$yellow-100: mix(white, $yellow, 80%) !default;
$yellow-200: mix(white, $yellow, 60%) !default;
$yellow-300: mix(white, $yellow, 40%) !default;
$yellow-400: mix(white, $yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: mix(black, $yellow, 20%) !default;
$yellow-700: mix(black, $yellow, 40%) !default;
$yellow-800: mix(black, $yellow, 60%) !default;
$yellow-900: mix(black, $yellow, 80%) !default;

$green-100: mix(white, $green, 80%) !default;
$green-200: mix(white, $green, 60%) !default;
$green-300: mix(white, $green, 40%) !default;
$green-400: mix(white, $green, 20%) !default;
$green-500: $green !default;
$green-600: mix(black, $green, 20%) !default;
$green-700: mix(black, $green, 40%) !default;
$green-800: mix(black, $green, 60%) !default;
$green-900: mix(black, $green, 80%) !default;

$teal-100: mix(white, $teal, 80%) !default;
$teal-200: mix(white, $teal, 60%) !default;
$teal-300: mix(white, $teal, 40%) !default;
$teal-400: mix(white, $teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: mix(black, $teal, 20%) !default;
$teal-700: mix(black, $teal, 40%) !default;
$teal-800: mix(black, $teal, 60%) !default;
$teal-900: mix(black, $teal, 80%) !default;

$cyan-100: mix(white, $cyan, 80%) !default;
$cyan-200: mix(white, $cyan, 60%) !default;
$cyan-300: mix(white, $cyan, 40%) !default;
$cyan-400: mix(white, $cyan, 20%) !default;
$cyan-500: $cyan !default;
$cyan-600: mix(black, $cyan, 20%) !default;
$cyan-700: mix(black, $cyan, 40%) !default;
$cyan-800: mix(black, $cyan, 60%) !default;
$cyan-900: mix(black, $cyan, 80%) !default;

$grays: (
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900
) !default;

$blues: (
    "blue-100": $blue-100,
    "blue-200": $blue-200,
    "blue-300": $blue-300,
    "blue-400": $blue-400,
    "blue-500": $blue-500,
    "blue-600": $blue-600,
    "blue-700": $blue-700,
    "blue-800": $blue-800,
    "blue-900": $blue-900
) !default;

$indigos: (
    "indigo-100": $indigo-100,
    "indigo-200": $indigo-200,
    "indigo-300": $indigo-300,
    "indigo-400": $indigo-400,
    "indigo-500": $indigo-500,
    "indigo-600": $indigo-600,
    "indigo-700": $indigo-700,
    "indigo-800": $indigo-800,
    "indigo-900": $indigo-900
) !default;

$purples: (
    "purple-100": $purple-200,
    "purple-200": $purple-100,
    "purple-300": $purple-300,
    "purple-400": $purple-400,
    "purple-500": $purple-500,
    "purple-600": $purple-600,
    "purple-700": $purple-700,
    "purple-800": $purple-800,
    "purple-900": $purple-900
) !default;

$pinks: (
    "pink-100": $pink-100,
    "pink-200": $pink-200,
    "pink-300": $pink-300,
    "pink-400": $pink-400,
    "pink-500": $pink-500,
    "pink-600": $pink-600,
    "pink-700": $pink-700,
    "pink-800": $pink-800,
    "pink-900": $pink-900
) !default;

$reds: (
    "red-100": $red-100,
    "red-200": $red-200,
    "red-300": $red-300,
    "red-400": $red-400,
    "red-500": $red-500,
    "red-600": $red-600,
    "red-700": $red-700,
    "red-800": $red-800,
    "red-900": $red-900
) !default;

$oranges: (
    "orange-100": $orange-100,
    "orange-200": $orange-200,
    "orange-300": $orange-300,
    "orange-400": $orange-400,
    "orange-500": $orange-500,
    "orange-600": $orange-600,
    "orange-700": $orange-700,
    "orange-800": $orange-800,
    "orange-900": $orange-900
) !default;

$yellows: (
    "yellow-100": $yellow-100,
    "yellow-200": $yellow-200,
    "yellow-300": $yellow-300,
    "yellow-400": $yellow-400,
    "yellow-500": $yellow-500,
    "yellow-600": $yellow-600,
    "yellow-700": $yellow-700,
    "yellow-800": $yellow-800,
    "yellow-900": $yellow-900
) !default;

$greens: (
    "green-100": $green-100,
    "green-200": $green-200,
    "green-300": $green-300,
    "green-400": $green-400,
    "green-500": $green-500,
    "green-600": $green-600,
    "green-700": $green-700,
    "green-800": $green-800,
    "green-900": $green-900
) !default;

$teals: (
    "teal-100": $teal-100,
    "teal-200": $teal-200,
    "teal-300": $teal-300,
    "teal-400": $teal-400,
    "teal-500": $teal-500,
    "teal-600": $teal-600,
    "teal-700": $teal-700,
    "teal-800": $teal-800,
    "teal-900": $teal-900
) !default;

$cyans: (
    "cyan-100": $cyan-100,
    "cyan-200": $cyan-200,
    "cyan-300": $cyan-300,
    "cyan-400": $cyan-400,
    "cyan-500": $cyan-500,
    "cyan-600": $cyan-600,
    "cyan-700": $cyan-700,
    "cyan-800": $cyan-800,
    "cyan-900": $cyan-900
) !default;

$colors: (
    "gray": $grays,
    "blue": $blues,
    "indigo": $indigos,
    "purple": $purples,
    "pink": $pinks,
    "red": $reds,
    "orange": $oranges,
    "yellow": $yellows,
    "green": $greens,
    "teal": $teals,
    "cyan": $cyans
) !default;

// Border
$borders: (
    dotted,
    dashed,
    solid,
    double,
    groove,
    ridge,
    inset,
    outset,
    none,
    hidden
);
