@mixin visibility($prefix: "") {
    $visibility-values: (
        'visible': visible,
        'invisible': hidden,
    ) !default;

    @each $key, $value in $visibility-values {
        .#{$prefix}#{$key} {
            visibility: $value;
        }
    }
}

@include visibility();

@each $key, $value in $breakpoints { 
    $prefix: $key + "\\:"; 
    @include screen($key) { 
        @include visibility($prefix); 
    } 
} 

// Value yang kemungkinan dimasukkin ke dalam plugin
// 'collapse': collapse